/*---------Обнуление-------*/
@import "null";

/*----------Шрифты-------*/
@import "fonts";

/*----------Переменные, миксины ...-------*/
@import "vars";

/*---------- общие стили -------*/
body.lock {
    overflow: hidden;
}

.section {
    padding: 100px 0px;
}

.container {
    max-width: 1250px;
    padding: 0px 15px;
    margin: 0px auto;
}

.btn {
    @include main-btn;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.img {
    width: 50%;

    img {
        width: 100%;
    }
}

.desc {
    width: 40%;
}

.desc__title {
    @include second-title();
}

.desc__text {
    color: rgba(125, 121, 135, 1);
    font-size: 17px;
    line-height: 30px;
    font-family: Mulish;
    margin: 20px 0px
}

.btn {
    @include main-btn();
}

.link {
    color: $orange;
    font-family: Inter-700;
    display: block;
    text-align: right;
    transform: translate(0px, -30px);

    &:hover {
        text-decoration: underline;
    }
}

/*------------- header -------------------*/
@import "header";

/*------------- offer -------------------*/
.offer {
    padding-top: 200px;
}

.offer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer__desc {
    max-width: 500px;
}

.offer__img {
    max-width: 500px;

    img {
        width: 100%;
    }
}

.offer__title {
    @include main-title();
    max-width: 360px;
    margin: 0px 60px 0px 0px;
}

.offer__subtitle {
    font-family: Inter-700;
    position: relative;
    margin-bottom: 60px;

    &::after {
        position: absolute;
        content: '';
        width: 40px;
        height: 3px;
        background: $maincolor;
        left: 0;
        bottom: -20px;
    }
}


.offer__form {
    max-width: 430px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input__wrap {
    width: 200px;
    height: 55px;
    position: relative;
    margin-bottom: 25px;
    padding: 0px 10px 0px 0px;

    &:after {
        position: absolute;
        content: '';
        width: 15px;
        height: 2px;
        background: $secondcolor;
        top: 50%;
        right: 40px;
        transform: rotate(45deg);
        pointer-events: none;
    }

    &:before {
        position: absolute;
        content: '';
        width: 15px;
        height: 2px;
        background: $secondcolor;
        top: 50%;
        right: 30px;
        transform: rotate(-45deg);
        pointer-events: none;
    }

    select {
        width: 100%;
        height: 100%;
        appearance: none;
        padding: 0px 0px 0px 15px;
        border: 1px solid $secondcolor;
        border-radius: 6px;

        &:focus {
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4), 3px 3px 10px rgba(0, 0, 0, 0.4);
        }
    }
}

.form__btn {
    @include main-btn;
    padding: 15px 63px;
}

/*------------- new day -------------------*/

/*------------- guides -------------------*/

.guides__wrap {
    flex-direction: row-reverse
}

/*------------- destinations -------------------*/
.destinations__title {
    @include second-title();
}

.destinations__content {
    display: flex;
    justify-content: space-between;
    position: relative;
    // width: 100%;
}

.arrow-prew,
.arrow-next {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 50%;
    transform: translate(0px -50%);
    display: none;
}

.arrow-prew {
    left: 0;
}

.arrow-next {
    right: 0;
}

.destinations__item {
    display: block;
    position: relative;
    margin: 15px 15px;
    flex: 0 1 261px;
    // width: 261px;
    height: 352px;
}

.hover {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.4s ease 0s;
    text-transform: uppercase;
    font-family: Inter-700;
    font-size: 20px;

    &:hover {
        opacity: 1;
    }
}



.destinations__item__img {
    height: 100%;
    width: 100%;
    position: relative;

    img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.destinations__item__decs {
    position: absolute;
    z-index: 2;
    width: 120px;
    height: 56px;
    bottom: -1px;
    left: -1px;
    background: #ffffff;
    border-radius: 0px 6px 0px 0px;
    padding-top: 10px;
    color: $maincolor;
    font-family: Inter-700;
    padding-left: 5px;

    span {
        font-family: Inter-500;
        color: $secondcolor;
        line-height: 25px;
    }

}

/*---------- media -------*/
@import "media";