/*---------Обнуление-------*/
@import "null";

/*----------Шрифты-------*/
@import "fonts";

/*----------Переменные, миксины ...-------*/
@import "vars";

/*----------Спецификация-------*/
body.lock {
    overflow: hidden;
}

.container {
    max-width: 1250px;
    padding: 0px 15px;
    margin: 0px auto;
}

.btn {
    @include main-btn;
}

/*------------- header -------------------*/
@import "header";

/*------------- offer -------------------*/
























/*---------------------------------------*/
.offer {
    font-size: 30px;
}

p {
    padding: 0px 100px;
    margin-bottom: 50px;
}